.back-to-top-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.scroll-to-top-btn {
  padding: 10px 20px;
  background-color: #41b294;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  opacity: 50%;
  transition: opacity 0.3s ease;
}

.scroll-to-top-btn:hover {
  background-color: #41b294;
  opacity: 1;
}