.cart_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
  color: #8c8c8c;
}
.cart_icon1 i {
  color: #f5c002;
  padding-right: 10px;
}
.cart_icon2 i {
  color: #f06f68;
  padding-right: 10px;
}
.cart_icon3 i {
  color: #65c9ff;
  padding-right: 10px;
}
// footer
.referencecourse_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.p_footer2 i {
  color: red;
  font-size: 23px;
  margin-left: 4px;
}

// ToolTip

.ant-tooltip-inner {
  // margin-left: 10px !important;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  width: 360px;
  min-width: 280px;
  height: 360px;
  word-wrap: break-word;
  color: #333333 !important;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff !important;
}
.subCardHead {
  display: flex;
  align-items: center;
}
.sub_card p {
  padding: 10px 0;
}
.subCardHead span {
  display: inline-block;
  color: #8c8c8c;
}
.sub_card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.btn_cart {
  background-color: #41b294;
  padding: 15px;
  width: 100%;
  color: #fff;
  display: block;
  text-align: center;
  transition: all 0.7s ease;
}
.btn_cart:hover {
  background-color: #2c7a6d;
  color: #fff;
}
.custom-tooltip.custom-tooltip-second .ant-tooltip-inner {
  left: 40% !important;
  transform: translateX(-40%);
}
.custom-tooltip.custom-tooltip-fourth .ant-tooltip-inner {
  left: 38% !important;
  transform: translateX(-38%);
}
