.footer {
  background-color: #f0f8ff;
  padding: 10px;
}
.footer_body {
  padding: 10px 40px;

  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    @media (max-width: 468px) {
      .col-span-3 {
        &:first-child {
          grid-column: span 12;
          margin-bottom: 20px;
        }

        &:nth-child(2),
        &:nth-child(3) {
          grid-column: span 6;
          margin-bottom: 20px;
        }

        &:last-child {
          grid-column: span 12;
          margin-bottom: 20px;
        }
      }
    }
  }
}
.text_logo {
  color: black;
  font-family: "fontPoppin";
  display: inline-block;
  position: relative;
  font-size: 20px;
  transition: all 0.5s;
  text-shadow: 5px -2px 3px #54d2c0;
}
.text_logo span {
  color: #41b294;
}
.iconLogo {
  right: 0px;
  top: 5px;
  position: absolute;
}
.text_logo:hover {
  transform: scale(1.1);
}
.menu_footer li {
  padding: 5px 0;
  transition: all 0.5s;
  font-weight: 500;
}
.menu_footer li i {
  font-size: 16px;
}
.iconFooter {
  display: inline-block;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  color: #fff;
  background: #41b294;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s;
}
.menu_footer li:hover {
  transform: translateY(-3px);
  color: #41b294;
}
.text_footerTitle {
  font-size: 25px;
}
.extra_footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  border-top: 1px solid #d0d0d0;

  box-sizing: border-box;
}
.iconSize {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
  transition: all 0.3s linear;
}
.divGlobal i:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.formFooter {
  margin: 3px 0;
  outline: none;
  border: none;
  width: 300px;
  max-width: 100%;
  height: 40px;
  border: 2px solid #41b294;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #f5f5f5;
}
.btnGlobal {
  background-color: #f6ba35;
  border: none;
  transition: all 0.5s;
  text-transform: uppercase;
  font-size: 15px;
  padding: 5px 10px;
  color: #fff;
}
@media (max-width: 992px) {
  .footer_body {
    .grid {
      grid-template-columns: repeat(6, 1fr);
    }

    .col-span-3 {
      grid-column: span 2;
    }

    .extra_footer {
      flex-direction: column;
      text-align: center;
    }
  }
}
@media (max-width: 1200px) and (min-width: 993px) {
  .footer_body {
    .col-span-3 {
      grid-column: span 3;
    }

    .extra_footer {
      flex-direction: column;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .footer_body {
    .col-span-3 {
      grid-column: span 3;
    }

    .extra_footer {
      flex-direction: column;
      text-align: center;
      .divGlobal {
        justify-content: center;
      }
    }
  }


  .iconFooter {
    margin-left: 0px;
  }
  .footerTitle_1 {
    padding-top: 20px;
  }
  .menu1 {
    li {
      padding-bottom: 10px;

      font-size: 13px;
      i {
        font-size: 13px;
      }
    }
  }
  span {
    font-size: 13px;
  }
  .menu2 {
    li {
      padding: 0px;
      padding-bottom: 10px;
      i {
        font-size: 12px;
      }
    }
    span {
      font-size: 13px;
    }
  }
  .iconFooter {
    width: 30px;
    height: 30px;

    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    transition: all 0.5s;
  }
  .text_footerTitle {
    font-size: 20px;
  }
  .footerTitle_1 {
    padding: 0;
  }
  .menu3 {
    li {
      font-size: 13px;
      i {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 468px) {
  .menu1 {
    li {
      padding-bottom: 3px;
    }
  }
}
